.footer
  a(href="https://nodejs.org/en/")
    img(alt="nodejs" src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Node.js_logo.svg" width="100" height="100%")
  a(href="https://github.com/webpack/webpack")
    img(alt="webpack" src="https://webpack.js.org/assets/icon-square-big.svg" width="100" height="100%")
  a(href="https://babeljs.io/")
    img(alt="babel" src="https://raw.githubusercontent.com/babel/logo/master/babel.png" width="100" height="100%")
  a(href="https://pugjs.org")
    img(alt="pug" src="https://cdn.rawgit.com/pugjs/pug-logo/eec436cee8fd9d1726d7839cbe99d1f694692c0c/SVG/pug-final-logo-_-colour-128.svg" width="100" height="100%")
  a(href="https://github.com/stylus/stylus")
    img(alt="stylus" src="http://stylus-lang.com/img/stylus-logo.svg" width="100" height="100%")
  a(href="https://github.com/postcss/autoprefixer")
    img(alt="autoprefixer" src="http://postcss.github.io/autoprefixer/logo.svg" width="100" height="100%")

