doctype html
html(lang="en")
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title Starter project template for frontend
        base(href="http://localhost:8080/")
    body
        block body
