@import 'variables.styl'
@import 'fonts.styl'
@import 'mixins.styl'

@import '../app/components/**/*'

body
  margin 0
  padding 0
  font(18, $text-color)
  font-family 'Roboto', sans-serif
  background $bg-color
