@import 'variables.styl'
@import 'fonts.styl'
@import 'mixins.styl'

@import '../app/components/**/*'

body
  margin 0
  padding 0
  background $bg_color
  color $text_color
  font-family 'Roboto', sans-serif
